<div>
    <!-- Dashboard welcome message -->
    <h4 class="is-size-2 has-background-info-light">Welcome to {{username}}'s Dashboard!</h4>

    <!-- Section for creating a new blog post -->
    <div class="createBlog"> <!-- changed to camelCase -->
        <h3 class="is-size-4">Create a New Blog Post:</h3>

        <form>
            <!-- Field for entering the title of the post -->
            <div class="field">
                <input class="input" type="text" name="newPostTitle" placeholder="Title" /> <!-- changed to camelCase -->
            </div>
            
            <!-- Field for entering the content of the post -->
            <div class="field">
                <textarea class="textarea is-normal" name="newPostDescription" placeholder="Your content here"></textarea> <!-- changed to camelCase -->
            </div>

            <!-- Submit button for the form -->
            <div class="field">
                <button type="submit" id="createBtn" class="button is-info">Create</button> <!-- changed to camelCase -->
            </div>
        </form>
    </div>

    <!-- Conditionally render the posts details -->
    {{#if posts.length}}
        <h4 class="is-size-4 m-2">All Posts:</h4>
        {{> postDetails}} <!-- changed to camelCase -->
    {{/if}}
</div>

<!-- Link to the JavaScript file for create functionality -->
<script src="/js/create.js"></script>
