<!-- Beginning of container div -->
<div>
    <!-- Login section -->
    <section class="box">
        <h2 class="is-size-3">Login</h2>

        <!-- Login form -->
        <form class="login-form">

            <!-- Username input field -->
            <div class="control">
                <label for="usernameLogin">Username:</label> <!-- changed id to camelCase -->
                <input class="input" type="text" id="usernameLogin" placeholder="Enter username" /> <!-- changed id to camelCase and placeholder text -->
            </div>

            <!-- Password input field -->
            <div class="control">
                <label for="passwordLogin">Password:</label> <!-- changed id to camelCase -->
                <input class="input" type="password" id="passwordLogin" placeholder="Enter password" /> <!-- changed id to camelCase and placeholder text -->
            </div>

            <!-- Login button -->
            <div class="control">
                <button class="button is-info" type="submit" id="loginButton">Login</button> <!-- changed id to camelCase -->
            </div>

        </form>

        <!-- Signup link -->
        <a href="/signup">Don't have an account? Sign up!</a>
    </section>
</div>

<!-- Link to login script -->
<script src="/js/login.js"></script>
