<!-- Login Form -->
<form class="login-form">
  <div>
    <!-- Email Input -->
    <label for="email-login">Email:</label>
    <input type="email" id="email-login" name="email" required />
  </div>
  <div>
    <!-- Password Input -->
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" name="password" required />
  </div>
  <div>
    <!-- Login Button -->
    <button type="submit">Login</button>
  </div>
  <!-- Sign Up Link -->
  <div class="sign-up">
    Not a member? <a href="/signup">Sign Up Here!</a>
  </div>
</form>

<!-- JavaScript for Login -->
<script src="/js/login.js"></script>
