<!-- Sign Up Form -->
<form class="signup-form">
  <div>
    <!-- Username Input -->
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" name="username" required />
  </div>
  <div>
    <!-- Email Input -->
    <label for="email-signup">Email:</label>
    <input type="email" id="email-signup" name="email" required />
  </div>
  <div>
    <!-- Password Input -->
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" name="password" required />
  </div>
  <div>
    <!-- Sign Up Button -->
    <button type="submit">Sign Up</button>
  </div>
</form>

<!-- JavaScript for Sign Up -->
<script src="/js/signup.js"></script>
