<div>
  <!-- Signup Section -->
  <section class="box">
    <!-- Title -->
    <h2 class="is-size-3">Create Account</h2> 
    
    <!-- Signup Form -->
    <form class="signupForm field"> 
      
      <!-- Username Control -->
      <div class="control">
        <label for="usernameSignup">Username:</label> 
        <input class="input" type="text" id="usernameSignup" placeholder="username" /> 
      </div>
      
      <!-- Password Control -->
      <div class="control">
        <label for="passwordSignup">Password:</label> 
        <input class="input" type="password" id="passwordSignup" placeholder="password" /> 
      </div>
      
      <!-- Submit Button -->
      <div class="control">
        <button class="button is-info" type="submit" id="signupButton">Create Account</button> 
      </div>

    </form>

    <!-- Login Redirect -->
    <a href="/login">Have an account? Log in here!</a> 

  </section>
</div>

<!-- Script -->
<script src="/js/signup.js"></script>
